@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// 1С: О направлении + header/ footer/ form

.header {
  min-height: 165px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

  &__container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    margin-top: 45px;
  }

  &__contacts-item {
    margin-top: 20px;
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__list-item {
    width: auto;
    margin-right: 34px;
    position: relative;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 10px;
      position: absolute;
      right: -19px;
      top: 5px;
      background-color: black;
    }
  }
}

.burger {
  display: none;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 100%;
  position: relative;
  z-index: 100;
  cursor: pointer;

  &__span {
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
  }

  &__span--top {
    top: 20px;
    left: 10px;
  }
  &__span--bottom {
    top: 30px;
    left: 10px;
  }

  &__popup {
    display: none;
    width: 150px;
    min-height: 200px;
    padding: 15px 10px;
    background-color: #e5e5e5;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position: absolute;
    right: 0px;
    top: 70px;
  }

  &__list {
    padding: 20px;
  }

  &__list-item:not(:first-child) {
    margin-top: 20px;
  }
}

.footer {
  min-height: 420px;
  margin-top: 70px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

  &__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 30px 10px;
  }

  &__info {
    max-width: 375px;
  }

  &__info-text {
    width: auto;
    margin-top: 22px;
  }

  &__info-input input {
    width: 216px;
    height: 60px;
    padding: 10px;
    border: 1px solid #cccccc;
  }

  &__btn-wrapper {
    display: flex;
    margin-top: 22px;
  }

  &__btn {
    width: 84px;
    height: 60px;
    padding: 20px;
    background: #2b3739;
    border-radius: 0px 5px 5px 0px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin-left: 5px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    height: 80px;
    background-color: #f8f8f8;
  }

  &__categories {
    width: 575px;
    display: flex;
    justify-content: space-between;
  }

  &__categories-title {
    margin-bottom: 22px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1d253c;
  }

  &__categories-text:not(:first-child) {
    margin-top: 17px;
  }
}

.social {
  width: 170px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request {
  margin-top: 70px;
  min-height: 550px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    width: 400px;
    display: flex;
    flex-direction: column;
  }

  &__input-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
  }

  &__input-name {
    font-size: 24px;
  }

  &__input {
    border: none;
    padding: 10px 0;
  }

  &__btn {
    margin-top: 50px;
    align-self: flex-end;
  }

  &__subtitle {
    width: auto;
    font-size: 34px;
    text-align: right;
    color: #606060;
  }

  &__info {
    width: 695px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-image: url("../images//bubble-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
}

.about__hero {
  padding: 75px 15px 0px 15px;

  &-container {
    max-width: 1310px;
    margin: 0 auto;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    margin-right: 20px;
  }

  &-title {
    &--wide {
      font-size: 45px;
    }
  }

  &-text {
    margin-top: 30px;
    max-width: 500px;
    font-size: 22px;
    line-height: 33px;

    &--wide {
      max-width: 700px;
    }
  }

  &-btn {
    margin-top: 40px;
  }
}

.about-products {
  min-height: 968px;
  padding: 60px 15px 92px 15px;
  background-color: rgba(255, 190, 190, 0.13);
  &__title {
    text-align: center;
  }
  &__subtitle {
    max-width: 875px;
    margin: 5px auto;
    text-align: center;
  }
  &__btn {
    margin: 42px auto 0;
    width: 191px;
  }
}

.products {
  margin-top: 65px;
  &__item {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__item-img {
    width: 91px;
    height: 91px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 0px 1px rgba(0, 0, 0, 0.25);
  }

  &__item-descr {
    margin-top: 15px;
    text-align: center;
    width: 185px;
  }
}

.about-products-grid {
  display: grid;
  grid-template-columns: repeat(11, 106px);
  grid-template-rows: 300px 255px;
  margin: 60px auto 0;

  .products__item:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .products__item:nth-child(2) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .products__item:nth-child(3) {
    grid-column: 6/7;
    grid-row: 1/2;
  }
  .products__item:nth-child(4) {
    grid-column: 8/9;
    grid-row: 1/2;
  }
  .products__item:nth-child(5) {
    grid-column: 10/11;
    grid-row: 1/2;
  }
  .products__item:nth-child(6) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .products__item:nth-child(7) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .products__item:nth-child(8) {
    grid-column: 5/6;
    grid-row: 2/3;
  }
  .products__item:nth-child(9) {
    grid-column: 7/8;
    grid-row: 2/3;
  }
  .products__item:nth-child(10) {
    grid-column: 9/10;
    grid-row: 2/3;
  }
  .products__item:nth-child(11) {
    grid-column: 11/12;
    grid-row: 2/3;
  }
}

.reasons {
  min-height: 470px;
  padding: 23px 0;
  background-color: #f9f5f2;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    max-height: 403px;
  }

  &__subtitle {
    text-align: left;
  }

  &__text {
    margin-top: 15px;
    line-height: 30px;
  }

  &__tagline {
    margin: 40px 0 25px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #ff6973;
  }

  &__tagline-decor {
    width: 103px;
    height: 2px;
    background-color: #ff6973;
    display: block;
    margin: 0 auto;
  }
}

// IT аутсорсинг: о направлении

.outsource-features {
  margin-top: 50px;
  &__title {
    max-width: 874px;
    margin: 0 auto;
    text-align: center;
  }

  &__cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 87px;
  }

  &__card-inner {
    width: 880px;
    margin-left: 21px;
  }

  &__card {
    width: 100%;
    min-height: 210px;
    margin-top: 24px;
    padding: 15px 30px 13px 20px;
    background-color: rgba(126, 192, 102, 0.29);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-img {
      width: 100px;
      height: 100px;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 24px;
  }

  &__card-descr {
    font-size: 20px;
    line-height: 35px;
  }

  &__inform {
    margin-top: 120px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    background-image: url("../images/bubble2.svg");
    background-repeat: no-repeat;
    background-size: 922px 251px;
    background-position: center bottom;
  }

  &__why {
    min-height: 994px;
    margin-top: 150px;
    padding: 75px 50px;
    border: 3px solid #daedd3;
  }

  &__list {
    margin-top: 76px;
    padding: 0 50px;
  }

  &__list-item {
    font-size: 36px;
    line-height: 48px;
  }
}

.outsource-features__why .outsource-features__list {
  list-style-type: disc;
}

// Битрикс 24: о направлении
.aboutBitrix {
  &__title {
    margin-top: 60px;
    color: #7dd7ed;
    text-align: center;
  }

  &__img {
    margin-top: 40px;
    img {
      margin: 0 auto;
    }
  }

  &__descr {
    margin-top: 55px;
    font-size: 22px;
  }

  &__result {
    margin: 50px auto 0;
  }

  &__result-title {
    width: 366px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    color: #373737;
    background-color: rgba(125, 215, 237, 0.31);
    border-radius: 10px;
  }

  &__result-descr {
    max-width: 1283px;
    margin: 32px 0 0 0;
    font-size: 22px;
  }
}

// Битрикс 24: услуги
.servicesBitrix-hero {
  padding: 0 15px;
}

.servicesBitrix-price__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 72px;
  color: #1caceb;
}

.servicesBitrix-price__descr {
  max-width: 1100px;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.045em;
  color: #363636;
}

.servicesBitrix-rate {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  &__title {
    display: inline-block;
    margin: 40px auto 65px;
    padding: 22px;
    font-weight: 700;
    font-size: 34px;
    color: #1f1f1f;
    background-color: rgba(125, 215, 237, 0.47);
    border-radius: 10px;
    text-align: center;
  }

  p,
  li {
    font-size: 24px;
    line-height: 35px;
    color: #252525;
  }

  ul {
    margin: 40px 0;
  }

  &__order {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__order-price {
    margin-right: 10px;
    font-size: 18px;
    color: #252525;
  }
}

.servicesBitrix__additional {
  margin-top: 80px;
  display: flex;
  justify-content: center;

  h3 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #363839;
  }

  span {
    padding: 5px 10px;
    background-color: rgba(125, 215, 237, 0.47);
    border-radius: 8px;
  }
}

// GPS Мониторинг: о направлении
.aboutGPS__request-info {
  background-image: url("../images/Group46.svg");
}

.aboutGPS-hero {
  &__img img {
    margin: 70px auto;
  }

  &__text {
    font-weight: 400;
    font-size: 34px;
    line-height: 35px;
    letter-spacing: 0.045em;
    text-align: center;
    color: #676767;
  }
}

.aboutGPS {
  &__container {
    max-width: 1300px;
  }
}

.aboutGPS-opportunities {
  margin-top: 100px;

  &__title {
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 590px;
    min-height: 490px;
    padding: 80px 10px 10px;
    background-color: #c4ffae;
  }

  &__card-img img {
    height: 171px;
  }

  &__card-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.045em;
  }

  &__card-descr {
    margin-top: 15px;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #484848;
  }
}

// Учебный центр: о направлении
.aboutSchool-goal {
  &__item {
    background-image: url("../images/Group40.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__item-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #232323;
    span {
      font-weight: 700;
    }
  }

  &__descr {
    padding: 35px 60px;
    margin-top: 70px;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    text-transform: capitalize;
    color: #343434;
    background-color: rgba(172, 115, 249, 0.24);
  }
}

.aboutSchool-masters {
  margin-top: 100px;

  &__title {
    text-align: center;
    color: #2e2e2e;
  }

  &__items {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__item {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      position: absolute;
    }
  }

  &__item-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
  }

  &__item-descr {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #6f6f6f;
  }
}

.aboutSchool-shedule {
  margin-top: 180px;

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    text-align: left;
    letter-spacing: 0.29em;
    text-transform: uppercase;
    color: #2e2e2e;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50px;
      width: 230px;
      height: 8px;
      background-color: #ac73f9;
    }
  }

  &__dates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: 65px;
  }

  &__date {
    width: 540px;
    display: flex;
    justify-content: space-between;

    img {
      height: 90px;
    }
  }

  &__date-inner {
    margin-left: 40px;
  }

  &__date-time {
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #938888;
  }

  &__date-event {
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #303030;
  }

  &__date-descr {
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.035em;
    color: #615f5f;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -13px;
      width: 230px;
      height: 3px;
      background-color: #ac73f9;
    }
  }
}

.feedback-partners {
  &__title {
    margin-top: 90px;
    text-align: center;
  }

  &__item-img {
    margin-right: 50px;
  }

  &__item-img:nth-child(odd) {
    margin-right: 0;
    margin-left: 50px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  &__item-inner {
    margin-left: 75px;
    width: 664px;
  }

  &__item-name {
    font-family: "Bad Script";
    font-style: italic;
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
    letter-spacing: 0.05em;
  }

  &__item-comment {
    font-size: 30px;
    line-height: 52px;
    margin-top: 33px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -20px;
      top: 10px;
      height: 100%;
      width: 5px;
      background-color: rgba(126, 192, 102, 0.29);
    }

    &--grey {
      &:before {
        content: "";
        background-color: rgba(102, 122, 192, 0.29);
      }
    }
  }

  &__item-author {
    margin-top: 15px;
    font-size: 30px;
    line-height: 52px;
    margin-top: 33px;
    span {
      font-weight: 600;
    }
  }
}

.outsource-results {
  &__title {
    text-align: center;
    margin-top: 150px;
  }

  &__subtitle {
    font-size: 30px;
    text-align: center;
    margin-top: 21px;
  }

  &__name {
    background-color: rgba(126, 192, 102, 0.29);
    border: 3px dashed #474747;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #202020;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 110px;
    padding: 20px;
    position: relative;
    &:before {
      content: url("../images/Vector8.svg");
      position: absolute;
      top: 100px;
    }
  }
}

.outsource-result__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.outsource-result__state {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outsource-result__state-img {
  width: 496px;
  height: 555px;
  background-color: grey;
  img {
    width: auto;
    height: 100%;
  }
}

.outsource-result__state-descr {
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  margin-top: 42px;
  position: relative;
  &:after {
    content: url("../images/Vector9.svg");
    position: absolute;
    top: 30px;
  }
}

// Разработка сайтов: проекты и отзывы
.webdevelop-proposal {
  text-align: center;
  margin-top: 100px;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #363839;
  span {
    background-color: rgba(85, 125, 202, 0.42);
  }

  .webdevelop-proposal--green {
    background-color: rgba(126, 192, 102, 0.29);
  }
}

.feedbackWeb-projects {
  margin-top: 120px;

  &__title {
    display: flex;
    align-items: center;
  }

  &__title-decor {
    margin-right: 50px;
  }
}

// Слайдер
.slider {
  min-height: 650px;
  margin-top: 40px;
  background-image: url("../images/клетка.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__inner {
    min-height: 440px;
    background-image: url("../images/фонСлайдера.svg");
    display: flex;
    align-items: center;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    width: 1000px;
    height: 360px;
    overflow: hidden;
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
    gap: 90px;
    position: relative;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 242px;
    height: 287px;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.1);
    }

    & img {
      width: 242px;
      height: 287px;
    }
  }

  &__btn {
    background-color: transparent;
    cursor: pointer;
  }
}

.feedbackWeb-partners {
  margin-top: 80px;
}

// Разработка сайтов: услуги
.serviceWeb__title {
  text-align: center;
  background-image: url("../images/Group58.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 0px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.serviceWeb {
  &__container {
    max-width: 1300px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    margin-top: 50px;
    display: flex;
    max-width: 600px;
  }

  &__item-title {
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.2em;
  }

  &__item-descr {
    font-size: 22px;
    margin-top: 10px;
    line-height: 36px;
  }

  .serviceWeb__item {
    position: relative;
    &::after {
      content: url("../images/Group55.svg");
      position: absolute;
      width: 137px;
      height: 137px;
      left: 80px;
    }
  }
}

// Разработка сайтов: о направлении
.webSteps {
  margin-top: 70px;
  &__title {
    font-size: 36px;
    text-align: center;
  }

  &__wrapper {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 300px;
    min-height: 145px;
  }

  &__item:nth-child(1) {
    background-image: url("../images/Rectangle33.svg");
    background-repeat: no-repeat;
    background-position: 0 60px;
  }
  &__item:nth-child(2) {
    background-image: url("../images/Rectangle34.svg");
    background-repeat: no-repeat;
    background-position: 0 60px;
  }
  &__item:nth-child(3) {
    background-image: url("../images/Rectangle35.svg");
    background-repeat: no-repeat;
    background-position: 0 60px;
  }

  &__descr {
    font-size: 26px;
    line-height: 37px;
    text-align: center;
    color: #313131;
  }
}

.webSteps__another-steps {
  margin-top: 200px;
}

.webSteps__another-steps-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 38px;
  text-align: center;
  color: #504f4f;
  span {
    font-weight: 700;
  }
}

.webSteps__another-steps {
  .webSteps__item {
    background-image: url("../images/fgfg.svg");
    background-repeat: no-repeat;
  }
}

.webSteps-steps {
  margin-top: 190px;

  &__item {
    margin-top: 50px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 36px;
    line-height: 54px;
    color: #1d1d1d;
    background-color: rgba(85, 125, 202, 0.24);
    display: flex;
    align-items: center;
    padding: 0 10px;

    img {
      margin-right: 20px;
    }
  }

  &__descr-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__descr {
    font-weight: 400;
    font-size: 32px;
    line-height: 54px;
    color: #313131;
    width: 1000px;
    margin-top: 40px;
  }
}

.webStep {
  margin-top: 90px;

  &__title-wrapper {
    display: flex;
    align-items: center;
    img {
      margin-right: 20px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 38px;
    color: #504f4f;
  }

  &__text {
    font-size: 34px;
    line-height: 54px;
    color: #313131;
    margin-top: 70px;
  }
}

.webStep-options {
  margin-top: 90px;

  &__item {
    margin-top: 90px;
  }

  &__item-title {
    text-align: center;
  }

  &__item-text {
    margin-top: 90px;
    text-align: center;
    font-size: 34px;
    line-height: 54px;
    text-align: center;
    color: #313131;
  }
}

.webStep-options__item:nth-child(1) {
  background-image: url("../images/Group\ 62.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.webStep-options__item:nth-child(2) {
  background-image: url("../images/Rectangle30.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.webStep-tarif {
  margin-top: 90px;

  &__wrapper {
    max-width: 1190px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
  }
}

.webStep--decor {
  background-image: url("../images/Rectangle30.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

// Видеонаблдение
.text-bg-block {
  margin-top: 90px;

  &__item {
    padding: 70px 38px;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    color: #232323;
    background-color: rgba(251, 120, 28, 0.31);
  }
}

.suggestion {
  margin-top: 90px;

  &__title {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 65px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/Group37.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__item-title {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-top: 10px;
  }
}

.about-product {
  min-height: 122px;
  margin-top: 90px;
  background-color: rgba(234, 234, 234, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #1d253c;
}

.product-details__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #242424;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background-color: #656565;
    width: 660px;
    height: 2px;
    top: 55px;
  }
}

.stars {
  display: flex;
}

.about-product__stars {
  margin: 0 10px 0 20px;
}

.products-details__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  margin-top: 40px;
}

.products-details__info {
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  text-align: center;
  margin-top: 15px;
  span {
    font-weight: 600;
  }
}

.observation-table {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: 308px 408px 149px 140px 197px 200px;
}

.observation-table__item {
  font-size: 27px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #232323;
  padding: 13px 20px;
  border: 1px solid #dcdcdc;
}

.observation-table__item:nth-child(1),
.observation-table__item:nth-child(2),
.observation-table__item:nth-child(3),
.observation-table__item:nth-child(4),
.observation-table__item:nth-child(5),
.observation-table__item:nth-child(6) {
  background-color: #fed5b9;
}

.observation-table__item:nth-child(31) {
  grid-column: span 5;
}

.observation-table__button-container {
  display: flex;
  justify-content: flex-end;
  max-width: 1430px;
}

.observation-table__button {
  color: white;
  margin-top: 60px;
  width: 211px;
  transition: 0.5s all;
  &:hover {
    transform: scale(1.1);
  }
}

.observation-descr {
  margin-top: 50px;

  &__title {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    padding: 0 0 15px 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #504f4f;
      left: 0;
      bottom: 0;
    }
  }

  &__text-wrapper {
    background-color: #eaeaea;
    min-height: 422px;
    padding: 35px 5px;
  }

  &__item-title {
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
  }

  &__item-text {
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
  }
}

// Страница IT аутсортинг: услуги
.serviceOutsource {
  margin-top: 90px;

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #3d3d3d;
    margin-top: 90px;
  }

  &-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 80px;
  }

  &-steps__item {
    max-width: 300px;
    position: relative;
  }
}

.serviceOutsource-steps__item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 290px;
  height: 290px;
  border-radius: 100%;
  background-color: rgba(126, 192, 102, 0.29);
  right: -12px;
}

.serviceOutsource-steps__item:nth-child(7)::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px dashed #000000;
  left: -75px;
  bottom: 5px;
}

.serviceOutsource-steps__item:nth-child(6)::before {
  content: "";
  position: absolute;
  width: 157px;
  height: 157px;
  border-radius: 100%;
  border: 1px dashed #000000;
  left: -75px;
  bottom: 5px;
}

.serviceOutsource__grid {
  margin-top: 90px;
  display: grid;
  justify-content: center;
  grid-template-columns: 380px 165px 165px 380px;
  grid-template-rows: 84px 84px;
}

.serviceOutsource__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 17px;
}
.serviceOutsource__grid-item:nth-child(1) {
  text-align: right;
  border-right: 4px solid #90b483;
  border-bottom: 4px solid #90b483;
}
.serviceOutsource__grid-item:nth-child(2) {
  grid-column: span 2;
  text-align: center;
  border-bottom: 4px solid #90b483;
}
.serviceOutsource__grid-item:nth-child(3) {
  text-align: left;
  border-left: 4px solid #90b483;
  border-bottom: 4px solid #90b483;
}
.serviceOutsource__grid-item:nth-child(4) {
  grid-column: span 2;
  justify-self: flex-end;
  border-right: 4px solid #90b483;
}
.serviceOutsource__grid-item:nth-child(5) {
  grid-column: span 2;
  justify-self: flex-start;
}

.serviceOutsource-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

.serviceOutsource__list {
  display: none;
  margin-top: 70px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 157px;
    height: 157px;
    border: 1px dashed #000000;
    border-radius: 100%;
    top: -30px;
    left: 290px;
  }
}

.serviceOutsource__list-item:not(:first-child) {
  margin-top: 40px;
}

.serviceOutsource-box-wrapper {
  display: flex;
  justify-content: flex-end;
}

.serviceOutsource__title--box {
  border: 4px solid #528b3d;
  max-width: 683px;
  padding: 26px 38px;
  font-size: 40px;
}

.serviceOutsource-steps__list {
  display: none;
  margin-top: 60px;
  position: relative;
}

.serviceOutsource-steps__list-item:not(:first-child) {
  margin-top: 25px;
}

.serviceOutsource-steps__list::before {
  content: "";
  position: absolute;
  width: 256px;
  height: 256px;
  background-color: rgba(126, 192, 102, 0.29);
  border-radius: 100%;
  right: 10px;
}

.serviceOutsource-network {
  &__item {
    max-width: 798px;
    height: 100px;
    margin: 54px auto 0;
    text-align: center;
    padding: 15px 37px;
    background-color: #daedd3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.serviceOutsource-recommendations__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 90px;
}

.serviceOutsource-recommendations__item {
  width: 405px;
  min-height: 270px;
  padding: 37px 25px;
  border: 4px dashed rgba(126, 192, 102, 0.29);
  text-align: center;
  display: flex;
  align-items: center;
}

// 1С Услуги
.inform-block {
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(214, 181, 183, 0.28) 75%, rgba(210, 210, 210, 0.28) 100%);
  &__container {
    max-width: 1250px;
  }

  &__wrapper {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #ff6973;
    margin-top: 96px;
  }

  &__title {
    text-align: center;
    margin-top: 15px;
    font-size: 44px;
  }

  &__descr {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #3a3a3a;
    margin-top: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      position: relative;
      &:after {
        content: url("../images/47.svg");
        position: absolute;
        top: -40px;
        transform: scale(0.8);
        left: 0;
      }
    }
  }

  &__item-text {
    text-align: center;
    margin-top: 22px;
    max-width: 188px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #363839;
  }

  &__btn {
    color: black;
    margin: 70px auto;
  }
}

.consultation {
  background-color: #f3f3f3;
  min-height: 440px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 23px;
    color: #f0f0f0;
    background-color: #363839;
    padding: 19px;
  }

  &__info {
    max-width: 490px;
    margin-top: 100px;
  }

  &__descr {
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #363839;
    margin-top: 15px;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 100px 10px 30px;
  }

  &__item {
    max-width: 210px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-text {
    margin-top: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #363839;
    span {
      font-weight: 600;
    }
  }
}

.service1C-suggestion {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #363839;
  .service1C-span1 {
    background-color: rgba(255, 105, 115, 0.34);
  }
  .service1C-span2 {
    background-color: rgba(156, 148, 205, 0.33);
  }
}

.service1C-products {
  margin-top: 160px;
  min-height: 900px;
  background-color: rgba(245, 65, 74, 0.1);
  padding: 60px 0;
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #202020;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #595959;
    margin-top: 40px;
  }

  &__wrapper {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }

  &__item {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item-descr {
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #252525;
  }
}

.service1C-head-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  color: #202020;
  margin-top: 50px;
}

.service1C-head-title__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.service1C-head-title {
  position: absolute;
}

.service1C-head-subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: 0.045em;
  color: #ff4e53;
  margin-top: 40px;
}

.service1C-text {
  margin-top: 30px;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.045em;
  color: #363636;

  &--coursive {
    font-weight: 600;
    font-style: italic;
    background-color: rgba(255, 105, 115, 0.34);
  }

  &--mt90 {
    margin-top: 90px;
  }
}

.service1C-text-bg {
  margin: 50px;
  font-size: 34px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.045em;
  background-color: #ffebed;
  padding: 12px 10px;
}

.service1C-card-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.service1C-card {
  position: relative;

  &__content {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-descr {
    text-align: center;
    margin-top: 25px;
  }
}

.insideBlock {
  overflow-x: hidden;
  margin-top: 50px;
  .container {
    background-image: url("../images/Vector.svg");
    background-position: 0px 155px;
    background-repeat: no-repeat;
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 33px;
    color: #414141;
  }

  &__list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__list {
    list-style-type: none;
  }

  &__list-img {
    position: relative;
  }

  &__list-img::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    border: 1px solid #b0b0b0;
    border-radius: 100%;
    left: -55px;
  }

  &__list-item {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #5e6167;
    margin-top: 50px;
  }

  &__list-item:nth-child(even) {
    position: relative;
    left: 50px;
  }

  &__list-item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(151, 248, 117, 0.47);
    border: 1px solid #6c6b6b;
    border-radius: 100%;
    left: -25px;
    top: 10px;
  }

  &__list-box {
    border: 3px solid #daedd3;
    margin-top: 90px;
    padding: 65px 52px 65px 90px;
    position: relative;
  }

  &__title--box {
    text-align: center;
  }

  &__list--box {
    margin-top: 50px;
  }

  &__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #5e6167;
  }
}

.insideBlock__list-box-decor img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 70px;
}

.insideBlock__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 100px;
}

.insideBlock__bordered-box-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.insideBlock__bordered-box {
  padding: 20px 30px 15px;
  border: 4px dashed rgba(126, 192, 102, 0.29);
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #5e6167;
  width: 340px;
}

.insideBlock-info {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(153, 239, 121, 0.42);
  max-width: 872px;
  height: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  padding: 15px 37px;
}

.insideBitrix__title {
  text-align: center;
  margin-top: 50px;
}

.insideBitrix__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
}

.insideBitrix__card {
  width: 358px;
  min-height: 421px;
  border: 4px dashed #7dd7ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 40px 5px;
  img {
    width: 100px;
    height: 100px;
  }

  &-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #414141;
  }

  &-descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #5e6167;
  }
}

.insideBitrix__btn {
  margin: 0 auto;
  margin-top: 100px;
}

// GPS Мониторинг: услуги
.serviceGPS__title {
  margin-top: 100px;
  text-align: center;
}

.serviceGPS__card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 80px;
}

.serviceGPS__card {
  width: 407px;
  height: 578px;
  padding: 20px 5px 30px;
  border: 2px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #3b3b3b;
  }

  &-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #696767;
  }

  &-btn {
    background: #c4ffae;
    border: 1px solid #595757;
    border-radius: 15px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    padding: 7px 10px;
    height: 40px;
    cursor: pointer;
    img {
      transform: scale(0.7);
    }
  }
}

.serviceGPS__card-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.serviceGPS__card-price {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-align: right;
  color: #404040;
}

.serviceGPS__card-container {
  max-width: 1340px;
}

// Битрикс 24: продукты
.productsBitrix-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #353535;
  margin-top: 60px;
  text-align: center;
}

.productsBitrix-subtitle {
  margin-top: 100px;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: #3a3a3a;
  span {
    font-weight: 600;
    background-color: rgba(70, 167, 190, 0.3);
  }
}

.productsBitrix__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;
}

.productsBitrix__item {
  max-width: 325px;
  margin-top: 100px;
}

.productsBitrix {
  &__container {
    max-width: 1700px;
  }
  &__icon img {
    margin: 0 auto;
    max-height: 47px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #353535;
    margin-top: 30px;
  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4b4b4b;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      border: 1px dashed #7dd7ed;
      width: 100%;
      left: 0;
      top: 45px;
    }
  }

  &__users-count {
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-top: 47px;
  }

  &__price {
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color: #5db0c5;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    span {
      font-size: 22px;
      line-height: 25px;
      text-align: center;
      text-decoration-line: line-through;
      color: #787878;
    }
  }

  &__btn {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 25px;
    text-align: center;
    color: #3d3f3f;
    background-color: rgba(125, 215, 237, 0.16);
    border-radius: 50px;
    padding: 18px 48px;
    margin: 84px auto 0;
    cursor: pointer;
  }

  &__amount {
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color: #535656;
    margin-top: 34px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      border: 1px dashed #7dd7ed;
      width: 100%;
      left: 0;
      top: 100px;
    }
  }

  &__coop {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #5f5f5f;
    display: flex;
    gap: 10px;
    margin-top: 138px;
  }

  &__coop-list {
    list-style-type: none;
  }

  &__coop-list-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;
    color: #797777;
  }

  &__feature {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #5f5f5f;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
  }
}

.productsBitrix__about {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #464646;
  margin-top: 80px;
  a {
    background: rgba(70, 167, 190, 0.3);
    text-decoration: underline;
  }
}

.productsBitrix__feature--mb354 {
  margin-top: 354px;
}
.productsBitrix__feature--mb240 {
  margin-top: 240px;
}
.productsBitrix__feature--mb69 {
  margin-top: 69px;
}

@import "./media/templateAndAbout1Cmedia";
@import "./media/aboutOutsourceMedia";
@import "./media/aboutBitrixMedia";
@import "./media/servicesBitrixMedia";
@import "./media/aboutGPSmedia";
@import "./media/aboutSchoolmedia";
@import "./media/feedbackOutsourceMedia";
@import "./media/feedbackWebDevelopMedia";
@import "./media/serviceWebDevelopMedia";
@import "./media/aboutWebDevelopMedia";
@import "./media/observationMedia.scss";
@import "./media/serviceOutsourceMedia";
@import "./media/service1Cmedia";
@import "./media/insideGPSmedia";
@import "./media/insideBitrixMedia.scss";
@import "./media/serviceGPS";
@import "./media/productsBitrix24Media";
