@media (max-width: 1128px) {
  .request__title {
    font-size: 26px;
  }

  .request__subtitle {
    font-size: 17px;
  }

  .request__info {
    width: 383px;
    height: 260px;
  }
}

@media (max-width: 992px) {
  .header {
    min-height: 120px;
  }

  .header__contacts,
  .menu__list {
    display: none;
  }

  .burger {
    display: block;
  }

  .request__wrapper {
    flex-direction: column;
  }

  .request__info {
    order: -1;
  }

  .footer__main {
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .footer__categories {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .header {
    height: 107px;
  }

  .logo img {
    max-width: 168px;
    margin-top: 20px;
  }

  .burger {
    margin-top: 20px;
  }

  .request__title {
    text-align: right;
  }

  .footer__main {
    align-items: flex-start;
  }

  .footer__categories {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer__categories-list:nth-child(1) {
    grid-row: 1/3;
  }

  .footer__categories-list:nth-child(3) {
    margin-top: 20px;
  }

  .footer__categories-text {
    max-width: 230px;
  }
}

@media (max-width: 420px) {
  .request__form {
    width: 260px;
  }

  .request__info {
    width: 320px;
    height: 200px;
    position: relative;
  }

  .request__input-name {
    font-size: 19px;
  }

  .request__title {
    font-size: 22px;
    text-align: right;
  }

  .footer__categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .footer__categories-list:nth-child(1) {
    grid-row: 2/3;
    margin-top: 30px;
  }

  .footer__categories-list:nth-child(2) {
    margin-top: 20px;
  }

  .footer__info-input input {
    max-width: 160px;
  }
}
