//Main and About Page
@media (max-width: 1260px) {
  .about-products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
  }

  .products__item-descr {
    font-size: 18px;
  }
}

@media (max-width: 1128px) {
  .request__title {
    font-size: 26px;
  }

  .request__subtitle {
    font-size: 17px;
  }

  .request__info {
    width: 383px;
    height: 260px;
  }

  .about-products__title {
    font-size: 36px;
  }

  .about__hero {
    &-title {
      font-size: 36px;
    }

    &-info {
      width: 450px;
    }

    &-img {
      width: 440px;
    }
  }

  .reasons__img {
    max-height: 303px;
  }
}

@media (max-width: 992px) {
  .header {
    min-height: 120px;
  }

  .header__contacts,
  .menu__list {
    display: none;
  }

  .burger {
    display: block;
  }

  .request__wrapper {
    flex-direction: column;
  }

  .request__info {
    order: -1;
  }

  .about__hero {
    padding: 10px 15px 80px 15px;
    &-inner {
      flex-direction: column-reverse;
    }

    &-title {
      margin-top: 40px;
      text-align: center;
    }

    &-text {
      text-align: center;
    }

    &-btn {
      margin: 40px auto 0;
    }
  }

  .about-products__subtitle {
    font-size: 20px;
  }

  .reasons {
    &__inner {
      flex-direction: column;
    }

    &__title {
      font-size: 36px;
      text-align: center;
    }

    &__subtitle {
      text-align: center;
      font-size: 18px;
    }

    &__text {
      margin: 10px auto 0;
      font-size: 14px;
      text-align: center;
      max-width: 420px;
    }

    &__tagline {
      font-size: 18px;
    }
  }

  .footer__main {
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .footer__categories {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .header {
    height: 107px;
  }

  .logo img {
    max-width: 168px;
    margin-top: 20px;
  }

  .burger {
    margin-top: 20px;
  }

  .request__title {
    text-align: right;
  }

  .about__hero {
    &-img {
      width: 320px;
    }
    &-title {
      font-size: 26px;
    }
    &-info {
      width: 295px;
      margin-right: 0;
    }
    &-text {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .about-products__title {
    font-size: 26px;
  }

  .about-products__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .reasons__tagline {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__main {
    align-items: flex-start;
  }

  .footer__categories {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer__categories-list:nth-child(1) {
    grid-row: 1/3;
  }

  .footer__categories-list:nth-child(3) {
    margin-top: 20px;
  }

  .footer__categories-text {
    max-width: 230px;
  }
}

@media (max-width: 420px) {
  .request__form {
    width: 100%;
  }

  .request__info {
    width: 100%;
    height: 200px;
  }

  .request__input-name {
    font-size: 19px;
  }

  .request__title {
    font-size: 22px;
    text-align: right;
  }

  .footer__categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .footer__categories-list:nth-child(1) {
    grid-row: 2/3;
    margin-top: 30px;
  }

  .footer__categories-list:nth-child(2) {
    margin-top: 20px;
  }

  .footer__info-input input {
    max-width: 120px;
  }
}
